*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
    margin: 50px 20%;
}

.text{
    width:80%;
    font-size:20px;
}

.text li{
    margin: auto;
    display:flex;
    color:red
}

.tittle{
  position:relative;
  left:20%;
  font-size:30px;
  color:rgb(0, 140, 255)
}

.text a {
  color:red
}

.text img{
  width:500px;
}

.text b {
  position:relative;
  color:blue;
  left:20%;
}

.author{
  position:relative;
 bottom:0px;
 left:50%;
  color:aqua;
  font-size:30px;
  display:inline-block;
}
